@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

body{
    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
}
a {
    outline: none;
    text-decoration: none;
    color: black;
  }